<div class="container-fluid bg-secondary py-3">
    <div class="row text-center">
        <h3>Single User Posts</h3>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-12 mb-4 text-center" >
    
          <table class="table table-striped">
            
            <thead>
             
              <tr>
                <th scope="col">UserId</th>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">Body</th>
              
              </tr>
            </thead>
            <tbody>
          
              <tr *ngFor="let user of singleUserPost">
                
                <td>{{user.userId}}</td>
                <td>{{user.id}}</td>
                <td>{{user.title}}</td>
                <td>{{user.body}}</td>
              </tr>
              
            </tbody>
          </table>
  
        
        </div>
    </div>
  </div>
          