<!-- Footer starts here -->
<div class="container-fluid bg-info footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="mt-3 text-white">Quick Links</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" routerLink="support">Support</li>
                    <li class="list-group-item">Terms & Conditions</li>
                    <li class="list-group-item">Privacy & Policy</li>
                    <li class="list-group-item" routerLink="faq">FAQ's</li>
                  </ul>
            </div>
           
            <div class="col-md-4">
                <h4 class="mt-3 text-white mb-4">Contact us</h4>
                <p><i class="fa fa-map-marker fa-lg mr-3" aria-hidden="true"></i>
                    123, Some Building,<br>Some Street, Somalia, 12345.</p>
                <p><i class="fa fa-phone fa-lg mr-3" aria-hidden="true"></i> +252617712471</p>
                <p><i class="fa fa-envelope-o fa-lg mr-3" aria-hidden="true"></i> info@mahbubiot.so</p>
                <p><i class="fa fa-firefox fa-lg mr-3" aria-hidden="true"></i> www.mahbubiot.so</p>
            </div>
            <div class="col-md-4">
                <img src="../../assets/images/mahbub.png" width="250"   class="d-inline-block align-top m-5" alt="">
            </div>
        </div>
    </div>
</div>