<!-- About us starts here -->
<div class="container pb-5">
    <div class="row">
        <div class="col-md-12 text-center my-5">
            <h1 class="section-title">About us</h1>
            <hr>
        </div>
        <div class="col-md-6 mt-3">
            <p>Mahbub IOT Company offers a high caliber of resources skilled in Microsoft Azure .NET, 
                mobile and Quality Assurance. Over the past three years, Mahbub was very pleased with
                 the service provided by ScienceSoft development teams and executive management. 
                 For accelerated project timelines which require skilled resources, 
                 ScienceSoft is a company that your team should consider Mahbub IoT Agency
                 was found in 2019 by group of well-qualified and skilled persons who had committed
                 to achieve a superior level of excellence in IoT Technology.
                 We’re a Company that works in area of internet-of-things
                 and provides our beloved co-mmunity what they expect 
                 from us.. Mahbub IOT Company offers a high caliber of resources skilled in Microsoft Azure .NET, 
                 mobile and Quality Assurance. Over the past three years, Mahbub was very pleased with
                  the service provided by ScienceSoft development teams and executive management.
                  We’re a Company that works 24/7 a day for our beloved Environment and country.
                 <br><br>             
            </p>
            <button type="button" class="btn btn-outline-success btn-sm">Read more...</button>
        </div>
        <div class="col-md-6">
            <img src="../../assets/images/ioTAbout.jpg"
                class="img-fluid" alt="...">
        </div>
    </div>
</div>
<!-- About us ends here -->