
<div class="container-fluid bg-secondary py-3">
    <div class="row text-center">
        <h3>All Users</h3>
    </div>
</div>

<div *ngIf="isLoading" class="d-flex justify-content-center my-5">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


<div class="container my-5">
    <div class="row">
        <div class="col-md-12 mb-4 text-center" >

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
              
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of allUsers">
                
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td> 
                <td>{{user.address.street}} - {{user.address.city}}</td>
           

                <td><button type="button" (click)="viewUser(user)" class="btn btn-success">View Post</button></td>
               
              </tr>
              
            </tbody>
          </table>

        
        </div>
    </div>
</div> 



<!-- 
<div class="container my-5">
  <div class="row">
      <div class="col-md-12 mb-4 text-center" >
  
        <table class="table table-striped">
          
          <thead>
           
            <tr>
              <th scope="col">UserId</th>
              <th scope="col">id</th>
              <th scope="col">title</th>
              <th scope="col">Body</th>
            
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of singleUserPost">
              
              <td>{{user.userId}}</td>
              <td>{{user.id}}</td>
              <td>{{user.title}}</td>
              <td>{{user.body}}</td>
            </tr>
            
          </tbody>
        </table>

      
      </div>
  </div>
</div>  -->
