<!-- Slider starts here -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100"
                src="../../assets/images/main-slider3.jpg"
                alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                src="../../assets/images/FbCover.jpg"
                alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                src="../../assets/images/integration.jpg"
                alt="Second slide">
        </div>
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Slider ends here -->

<!-- About us starts here -->
<div class="container pb-5">
    <div class="row">
        <div class="col-md-12 text-center my-5">
            <h1 class="section-title">About us</h1>
            <hr>
        </div>
        <div class="col-md-6 mt-3">
            <p>Mahbub IOT Company offers a high caliber of resources skilled in Microsoft Azure .NET, 
                mobile and Quality Assurance. Over the past three years, Mahbub was very pleased with
                 the service provided by ScienceSoft development teams and executive management. 
                 For accelerated project timelines which require skilled resources, 
                 ScienceSoft is a company that your team should consider Mahbub IoT Agency
                 was found in 2019 by group of well-qualified and skilled persons who had committed
                 to achieve a superior level of excellence in IoT Technology.
                 We’re a Company that works in area of internet-of-things
                 and provides our beloved co-mmunity what they expect 
                 from us.. Mahbub IOT Company offers a high caliber of resources skilled in Microsoft Azure .NET, 
                 mobile and Quality Assurance. Over the past three years, Mahbub was very pleased with
                  the service provided by ScienceSoft development teams and executive management. 
                  For accelerated project timelines which require skilled resources, 
                  ScienceSoft is a company that your team should consider Mahbub IoT Agency
                  was found in 2019 by group of well-qualified and skilled persons who had committed
                  to achieve a superior level of excellence in IoT Technology.
                 <br><br>
                
            </p>
            <button type="button" class="btn btn-outline-success btn-sm">Read more...</button>
        </div>
        <div class="col-md-6">
            <img src="../../assets/images/ioTAbout.jpg"
                class="img-fluid" alt="...">
        </div>
    </div>
</div>
<!-- About us ends here -->

<!-- Our services starts here -->
<div class="container-fluid bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-12 text-center my-5 ">
                <h1 class="section-title">Our services</h1>
                <hr>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/iot_dev.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Developing IoT Softwares</h5>
                        <p class="card-text">IoT software development covers requirements engineering, IoT architecture design, IoT platform and user apps development, testing, support, and more.</p>
                        <button type="button" class="btn btn-outline-success btn-sm">Read more...</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/integration.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Integration b/w User & IoT</h5>
                        <p class="card-text">Integration means making independently designed applications and data work well together. IoT integration means making the mix of new IoT devices.
                            The Internet of Things (IoT) is building a connected global future..
                        </p>
                        <button type="button" class="btn btn-outline-success btn-sm">Read more...</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/security_testing.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Security Testing</h5>
                        <p class="card-text">Security testing is a process intended to reveal flaws in the security mechanisms of an information system that protect data and maintain functionality  ...</p>
                        <button type="button" class="btn btn-outline-success btn-sm">Read more...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our services ends here -->